$button-toolbar-color: #999 !default;
$button-toolbar-glyph-color: #999 !default;
$button-toolbar-glyph-color-over: #DDD !default;
$button-toolbar-glyph-opacity: 1;
$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: rgba(0,0,0,0.1) !default;
$button-toolbar-background-color-pressed: transparent !default;
$button-small-border-width: 0px !default;
$button-small-font-size: $font-size;
$button-medium-border-width: 0px !default;
$button-large-border-width: 0px !default;
$button-large-icon-size: 32px;

